autopep8==1.6.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
climage==0.1.3
commonmark==0.9.1
culour==0.2
decorator==4.4.2
ffmpeg==1.4
idna==3.3
imageio==2.19.2
imageio-ffmpeg==0.4.7
kdtree==0.16
moviepy==1.0.3
numpy==1.22.4
opencv-python==4.5.5.64
Pillow==9.1.1
playsound==1.3.0
proglog==0.1.10
pycodestyle==2.8.0
Pygments==2.12.0
pyobjc==8.5; platform_system == "Darwin"
requests==2.27.1
rich==12.4.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
toml==0.10.2
tqdm==4.64.0
urllib3==1.26.9
